body{
    margin: 0;
    padding: 0;
}

.grid-container{
    background-color: yellow;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
    height: 100vh;
}
